body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 5vw;
  margin: 1vw;
}

.board {
  width: 30vw;
  background-color: black;
  overflow: auto;
  margin: 0 auto;
}

.grid {
  display:inline-block;
  width: 10vw;
  height: 10vw;
  line-height: 10vw;
  border: 1px solid white;
  box-sizing: border-box;
  float: left;
  font-size: 6vw;
  color: white;
}

#result {
  font-size: 5vw;
  padding-top: 1vw;
}

#turn {
  font-size: 2.5vw;
  padding-bottom: 1em;
  height: 2.5vw;
}
