body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 5vw;
  margin: 1vw;
}

.board {
  width: 30vw;
  background-color: black;
  overflow: auto;
  margin: 0 auto;
  display: inline-block;
}

.grid {
  display:inline-block;
  width: 10vw;
  height: 10vw;
  line-height: 10vw;
  border: 1px solid white;
  box-sizing: border-box;
  float: left;
  font-size: 6vw;
  color: white;
  cursor: pointer;
}

.tally-box {
  display: inline-block;
  vertical-align: top;
  padding: 0 2em 0 2em;
  font-size: 2em;
}

.player {
  border-bottom: 1px solid white;
}

#result {
  font-size: 5vw;
  padding-top: 1vw;
  height: 5vw;
  display: none;
}

#turn {
  font-size: 2.5vw;
  padding-bottom: 1em;
  height: 2.5vw;
}

#reset-btn {
  position: absolute;
  right: 5em;
  bottom: 5em;
}
